body{
    margin: 0;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
header{
    align-self: flex-start;
    flex-basis: 100%;
    background-color: #242323;
    display: flex;
    align-items: center;
    padding: 0 20px;
    white-space: nowrap;
    max-height: 10vh;
}
.user h2{
    color: white;
    margin: 0;
    font-size: 20px;
}
nav{
    flex-grow: 2;
}
.user{
    display: flex;
    flex-direction: column;
}
.user a{
    align-self: flex-end;
    color: white;
    display: block;
}
nav a{
    display: inline-block;
    text-align: center;
    padding: 2.5vh;
    color: whitesmoke;
    white-space: nowrap;
}
nav a:hover{
    background-color: #313131 ;
    cursor: pointer;
}
.logo{
    display: inline-block;
    height: min-content;
    display: flex;
    align-items: center;
    width: 20vw;
}
.logo h1{
    color: whitesmoke;
    display: inline-block;
    margin: 0 0 0 10px;
}
.logo .ball{
    background-color: lemonchiffon;
    border: 3px solid black;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: inline-block;
}

.logo:hover{
    cursor:pointer;
}


.content{
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
}


button{
    flex-basis: 30%;
    padding: 20px;
    background-color: #343434;
    border-radius: 5px;
    height: min-content;
    color: white;
    border: none;
    margin: 0;
    margin-top: 20px;
    white-space: nowrap;
    font-size: 15px;
}


button:hover{
    background-color: #242323;
    cursor: pointer;

}

.content h1{
    text-align: center;
    height: min-content;
    margin: 0;
    margin-bottom: 30px;
}

table{
    width: 100%;
    text-align: center;
}
table, tr, td{
    border-bottom: 1px solid #ddd;
    border-collapse: collapse;
}
th{
    height: 40px;
    position: sticky;
    top: 0;
    background-color: rgb(241, 239, 239);
}
.over{
    display: flex;
    overflow-y: auto;
    max-height: 50vh;
    width: 100%;
    max-width: 70vw;
    margin-bottom: 30px;
    align-items: stretch;
    justify-content: stretch;
}
tbody tr:hover, td:hover{
    background-color: #f5f5f5;
    cursor: pointer;
}

table a:visited{
    color:white;
}

tbody td{
    padding: 10px;
}

.link:hover{
    cursor: pointer;
    background-color: #3f3f3f ;
}

.link{
    background-color: #2e2e2e;
    color: white;
    font-weight: bold;
    padding: 0;
    margin: 0;
    border-left: 1px solid #ddd;
}

a{
    text-decoration: none;
}
input{
    border-radius: 3px;
    padding: 6px;
    border: 1px solid rgb(170, 170, 170);
    margin: 3px 0;
}

.updateRoomType{
    display: flex;
    margin-bottom: 20px;
    width: 70vw;
    flex-wrap: wrap;
    justify-content: flex-start;
}
input, label[for=arrival]{
    flex-basis:20%;
}
label[for=departure]{
    flex-basis: 78%;
}
label[for=arrival], #arrival{
    margin-right: 2%;
}

input:focus, select:focus{
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}
